In [1]:
import pandas as pd
from datetime import datetime

from typing import List

In [2]:
# Give the file name without extension.
fileNameWithoutExtension = "Feb 2025"
fileNameWithoutExtension = "ZEPTO"
fileNameWithoutExtension = "April 2025"

excelBook: dict[str, pd.DataFrame] = pd.read_excel(f"{fileNameWithoutExtension}.xlsx", sheet_name=None)

In [18]:
class Extract:
    def __init__(self):
        self.columns: List[str] = [
            "Sr",
            "Article Code",
            "Item Description",
            "Uom",
            "Dispatched Qty",
            "Received Qty",
            "Rate",
            "Total Amount",
            "Date",
            "Location",
        ]

        self.processedDataFrame: pd.DataFrame = pd.DataFrame(columns=self.columns)

    def extractTable(self, row: pd.Series) -> bool:
        return str(row["Sr"]).isnumeric()

    def extractDate(self, key):
        dateFormat = "%d-%m-%Y"
        try:
            return datetime.strptime(key[:10], dateFormat)
        except:
            return False

    def extractLocation(self, key: str):
        return key[10:].strip().upper()

    def extractDataFrame(self, sheetName: str, sheetData: pd.DataFrame):
        sheetData.columns = self.columns[:-2]
        date = self.extractDate(sheetName)
        if date == False:
            return pd.DataFrame()
        sheetData = sheetData[sheetData.apply(self.extractTable, axis=1)].copy()
        sheetData["Date"] = date
        sheetData["Location"] = self.extractLocation(sheetName)
        return sheetData

    def add(self, dataFrame: pd.DataFrame):
        dataFrame = dataFrame.dropna(how="all", axis=1)
        if not dataFrame.empty:
            self.processedDataFrame = pd.concat([self.processedDataFrame, dataFrame], ignore_index=True)

In [ ]:
# sheetName = "21-06-2025 MANISH NAGAR"

extract = Extract()

for sheetName, sheetData in excelBook.items():
    if sheetData.empty:
        continue
    # break
    try:
        df = extract.extractDataFrame(sheetName, sheetData)
    except:
        print(sheetData.columns, sheetData.head(10))
        break
    if not df.empty:
        extract.add(df)

C:\Users\cw\AppData\Local\Temp\ipykernel_14392\1530270365.py:44: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  self.processedDataFrame = pd.concat([self.processedDataFrame, dataFrame], ignore_index=True)

Index([' RAJIDI RETAILS PRIVATE LIMITED', 'Unnamed: 1', 'Unnamed: 2',
       'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7',
       'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10'],
      dtype='object')                       RAJIDI RETAILS PRIVATE LIMITED    Unnamed: 1  \
0                                     Ayodhya Nagar            NaN
1                                Shipping Address :-           NaN
2        Gadewar Lawns Plot No.31,32,33,36,37And 38,           NaN
3  K. H. No, 72/2, Situated At Gadewar Lawn , Shr...           NaN
4            Manewada, Ayodhya nagar , Nagpur-440024           NaN
5                                                 Sr  Article Code
6                                                  1          8439
7                                                  2          1016
8                                                  3          7043
9                                                  4          7478

           Unnamed: 2                           Unnamed: 3        Unnamed: 4  \
0                 NaN                                  NaN               NaN
1                 NaN                    Date - 12/05/2025               NaN
2                 NaN           Invoice no : 12052025UMAN1               NaN
3                 NaN  Email Id -ankushmisal7387@gmail.com               NaN
4                 NaN    PO NO --20250512-1403419-74227878               NaN
5  Item\n Description                                  Uom  Dispatched\n Qty
6         Beans Diced                                 200g                 1
7        Bottle Gourd                               1piece                 4
8      Brinjal Nagpur                                 250g                 2
9         Broad Beans                                 250g                 3

                     Unnamed: 5 Unnamed: 6    Unnamed: 7  Unnamed: 8  \
0  vendor name :- Upgrade Mandi        NaN           NaN         NaN
1                           NaN        NaN           NaN         NaN
2                           NaN        NaN           NaN         NaN
3                           NaN        NaN           NaN         NaN
4                           NaN        NaN           NaN         NaN
5                Received\n Qty       Rate  Total Amount         NaN
6                           NaN         17            17         NaN
7                           NaN         22            88         NaN
8                           NaN         15            30         NaN
9                           NaN         35           105         NaN

   Unnamed: 9 Unnamed: 10
0         NaN         NaN
1         NaN         NaN
2         NaN         NaN
3         NaN         NaN
4         NaN         NaN
5         NaN         NaN
6         NaN         NaN
7         NaN         NaN
8         NaN         NaN
9         NaN         NaN

In [20]:
extract.processedDataFrame.reset_index(drop=True)

,Sr,Article Code,Item Description,Uom,Dispatched Qty,Received Qty,Rate,Total Amount,Date,Location
0,1,8439,Beans Diced,200g,2,NaN,40,80,2025-06-22,MANISH NAGAR
1,2,1013,Beetroot,500g,12,NaN,25,300,2025-06-22,MANISH NAGAR
2,3,1016,Bottle Gourd,1piece,9,NaN,23,207,2025-06-22,MANISH NAGAR
3,4,7478,Broad Beans,250g,1,NaN,50,50,2025-06-22,MANISH NAGAR
4,5,4074,Cauliflower Florets,200g,10,NaN,30,300,2025-06-22,MANISH NAGAR
5,6,8682,Cucumber White,500g,14,NaN,20,280,2025-06-22,MANISH NAGAR
6,7,4210,Drumstick Cut,200g,5,NaN,30,150,2025-06-22,MANISH NAGAR
7,8,1074,Garlic,200g,15,NaN,35,525,2025-06-22,MANISH NAGAR
8,9,1069,Garlic Peeled,100g,20,NaN,28,560,2025-06-22,MANISH NAGAR
9,10,3795,Ginger,200g,46,NaN,17,782,2025-06-22,MANISH NAGAR
10,11,8689,Hybrid Tomato,500g,20,NaN,40,800,2025-06-22,MANISH NAGAR
11,12,1284,Indian Tomato,500g,32,NaN,25,800,2025-06-22,MANISH NAGAR
12,13,9013,Ladies Finger - Fry Cut,200g,3,NaN,20,60,2025-06-22,MANISH NAGAR
13,14,3796,Lemon,200g,43,NaN,25,1075,2025-06-22,MANISH NAGAR
14,15,3638,Mango Banganapalli (Aam),3pieces (Large),10,NaN,115,1150,2025-06-22,MANISH NAGAR
15,16,17054,Mango Banganpalli,1piece(Large),4,NaN,35,140,2025-06-22,MANISH NAGAR
16,17,8676,Matki Sprouts,200g,7,NaN,32,224,2025-06-22,MANISH NAGAR
17,18,4213,Mixed Sprouts,175g,9,NaN,32,288,2025-06-22,MANISH NAGAR
18,19,1108,Potato,1kg,35,NaN,36,1260,2025-06-22,MANISH NAGAR
19,20,4068,Pumpkin Cut,200g,8,NaN,20,160,2025-06-22,MANISH NAGAR
20,21,3967,Purple Bharta Brinjal,1piece,13,NaN,25,325,2025-06-22,MANISH NAGAR
21,22,1113,Ridge Gourd,2pieces,2,NaN,30,60,2025-06-22,MANISH NAGAR
22,23,7039,White Onion,500g,7,NaN,15,105,2025-06-22,MANISH NAGAR

In [3]:
for i in excelBook:
    dateFormat = "%d-%m-%Y"
    try:
        datetime.strptime(i[:10], dateFormat)
    except:
        print(i)

Sheet502
6-6-2025 Dharampeth 2
Sheet391
21-5-2025 Manish nagar
21-5-2025 Mahal
16-5-2025 Dharampeth 2
16-5-2025 Byramji 2
14-05-25 AYODHYA NAGAR
13-05-205 DHARAMPETH
12 MAY SAI MANDIR
12 MAY MAHAL
12 MAY MANISH NAGAR
12 MAY DHARAMPETH
12 MAY AYODHYA NAGAR
12 MAY NANDANWAN
12 MAY BYRAMJI
30-4-2025 Sai Mandir
30-4-2025 Mahal
Sheet71
Sheet62

In [ ]:
dateFormat = "%d-%m-%Y"
selectedSheetNames: List[str] = []
isAll = True

for k in excelBook:
    try:
        toInclude = datetime.strptime(k[:10], dateFormat)
        if isAll or toInclude.month in [2, 3, 4, 5, 6]:
            selectedSheetNames.append(k)
    except:
        continue

In [ ]:
temp = []
toSaveDf = pd.DataFrame(columns=[
    "Sr",
    "Article Code",
    "Item Description",
    "Uom",
    "Dispatched Qty",
    "Received Qty",
    "Rate",
    "Total Amount",
    "Date",
    "Location",
])

dates = {}

def extractTable(row):
    pass

for sheetName in selectedSheetNames:
    if sheetName[:10] not in dates:
        dates[sheetName[:10]] = 0
    dates[sheetName[:10]] += 1
    # print(key[:10])
    # break
    date = datetime.strptime(sheetName[:10], dateFormat)
    location = sheetName[10:].strip().upper()

    # print(date, location, sep="; ")

    start = 0
    sheetData = excelBook[sheetName]
    while start < len(excelBook):
        if not sheetData.empty and str(sheetData.iloc[start][0]).strip() == "Sr":
            end = 0

            tempDf = excelBook[sheetName].iloc[start+1:end, :8]

            tempDf["Date"] = date
            tempDf['Location'] = location

            # print(key, tempDf.columns)

            tempDf.columns = toSaveDf.columns

            toSaveDf = pd.concat([toSaveDf, tempDf])
            break
        start += 1


toSaveDf.sort_values(by="Date")
toSaveDf.to_csv(f"{fileNameWithoutExtension}.csv", index=False)

# count = 0
# for key, items in dates.items():
#     print(key, items)
#     count += items
# print(count)