In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("../data/raw/B2B/Customer Details.csv")

In [43]:
newDf = df[["Customers Name", "Mobile No"]].copy()
newDf["Vendor Code"] = newDf["Customers Name"].apply(
    lambda x: "".join(x.split("-")[-1]).strip()
)
newDf["Mobile No"] = newDf["Mobile No"].apply(lambda x: str(x).replace(" ", ""))

newDf["Customers Name"] = newDf["Customers Name"].apply(
    lambda x: "".join(x.split("-")[0:-1]).strip().title()
)

newDf["Mobile No"] = newDf["Mobile No"].apply(
    lambda x: (str(x)[2:] if len(str(x)) == 12 and str(x).startswith("91") else str(x))
)

In [45]:
newDf[newDf["Mobile No"].apply(lambda x: len(str(x)) != 10)]

       Customers Name    Mobile No Vendor Code
3    Kavita Rudraksha    878898787     NGP1172
117    Gaurav Bhusari     86258246     NGP0570
283    Avinash Mankar    800766767     NGP0552
300    Mrutujay Shahu  91638867481     NGP0851
357    Vilas Deshmukh          nan     NGP0892
358    Virendra Sahoo          nan     NGP0487

In [47]:
newDf.to_csv("../data/processed/B2B/Customer Details.csv", index=False)