In [1]:
import pandas as pd

import numpy as np

from utils.utils import nameExtracter

In [2]:
df = pd.read_excel("./../data/raw/B2B/Raw-Database.xlsx", sheet_name="Sheet1")

df.columns = [i.strip() for i in df.columns]

In [3]:
df = df.dropna(how="all").drop(labels=["SR NO"], axis=1)

In [4]:
def formatDate(row: pd.Series) -> pd.Timestamp | float:
    try:
        return pd.to_datetime(row["DATE"])
    except:
        return np.nan


df["DATE"] = df.apply(formatDate, axis=1).ffill()

In [5]:
df[["NAME", "ADDRESS"]] = df[["NAME", "ADDRESS"]].ffill()

In [6]:
df.columns

Index(['DATE', 'NAME', 'ADDRESS', 'ITEM NAME', 'QTY', 'RATE', 'TOTAL PAYMENT',
       'TOTAL AMOUNT', 'PAYMENT RECEIVING DATE'],
      dtype='object')

In [7]:
lst = [
    "Red Onion Premium Wholesale",
    "Red Onion Premium Retail",
    "White onion Wholesale",
    "White onion Retail",
    "Agra potato Premium Wholesale",
    "Agra Potato Premium Retail",
    "Agra Potato Retail Big",
    "G4 potato Wholesale",
    "G4 Potato Retail",
    "Ginger Banglore",
    "Garlic Regular",
    "Garlic Bolder",
    "Onion B",
    "Potato B",
    "Ginger B",
    "White Onion B",
    "Potato Small",
]

In [8]:
df = df.dropna(
    subset=[
        "ITEM NAME",
        "PAYMENT RECEIVING DATE",
    ],
    how="all",
)

# df["ITEM NAME 1"] = df["ITEM NAME"].apply(
#     lambda x: nameExtracter(lst, x) if str(x) != "nan" else np.nan
# )

In [9]:
df.to_excel("./../data/processed/B2B/Transaction List.xlsx", index=False)