In [1]:
from notion_client import Client

import pandas as pd

In [2]:
df = pd.DataFrame(
    columns=[
        "Dispatched Qty",
        "Uom",
        "Article Code",
        "Total Amount",
        "Date",
        "GRN",
        "PR",
        "Rate",
        "Location",
        "Item Description",
    ]
)

In [15]:
# ðŸ“¥ Query the database
notion = Client(auth="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")


response = notion.databases.query(database_id="23045ba7974f80b28373c8db8c01b888")

In [16]:
for i in response["results"]:
    page_id = i["id"]
    try:
        notion.pages.update(page_id=page_id, archived=True)
    except:
        pass

:

:

In [35]:
# print(response['results'])
for i in response["results"]:
    dct = {}
    for attribute, value in i["properties"].items():
        s = ": "
        if value["type"] == "select":
            dct[attribute] = value["select"]["name"]
            # print(attribute, value["select"]["name"], sep=s)
        elif value["type"] == "formula":
            dct[attribute] = value["formula"]["number"]
            # print(attribute, value["formula"]["number"], sep=s)
        elif value["type"] == "date":
            dct[attribute] = value["date"]["start"]
            # print(attribute, value["date"]["start"], sep=s)
        elif value["type"] == "title":
            dct[attribute] = value["title"][0]["text"]["content"]
            # print(attribute, value["title"][0]["text"]["content"], sep=s)
        else:
            dct[attribute] = value[value["type"]]
            # print(attribute, value[value["type"]], sep=s)

    df.loc[len(df)] = dct

df

,Dispatched Qty,Uom,Article Code,Total Amount,Date,GRN,PR,Rate,Location,Item Description
0,2,1piece,1296,160,2025-07-17,None,None,80,Ayodhaya Nagar,Tender Coconut
1,12,1piece,1296,960,2025-07-17,None,None,80,SAI MANDIR,Tender Coconut
2,9,1piece,1296,720,2025-07-17,None,None,80,DHARAMPETH,Tender Coconut
3,11,1piece,1296,880,2025-07-17,None,None,80,Nandavan,Tender Coconut
4,1,1piece,1296,80,2025-07-17,None,None,80,MAHAL,Tender Coconut
...,...,...,...,...,...,...,...,...,...,...
395,9,200g,3796,216,2025-07-17,None,None,24,DHARAMPETH,Lemon
396,12,200g,3796,288,2025-07-17,None,None,24,Nandavan,Lemon
397,6,200g,3796,144,2025-07-17,None,None,24,MAHAL,Lemon
398,13,200g,3796,312,2025-07-17,None,None,24,MANISH NAGAR,Lemon
399,20,200g,3796,480,2025-07-17,None,None,24,BYRAMJI,Lemon