In [1]:
import pandas as pd
import camelot

C:\Users\cw\AppData\Roaming\Python\Python311\site-packages\pypdf\_crypt_providers\_cryptography.py:32: CryptographyDeprecationWarning: ARC4 has been moved to cryptography.hazmat.decrepit.ciphers.algorithms.ARC4 and will be removed from cryptography.hazmat.primitives.ciphers.algorithms in 48.0.0.
  from cryptography.hazmat.primitives.ciphers.algorithms import AES, ARC4

In [2]:
pages = camelot.read_pdf("GrnReceipt.pdf", pages="all")

In [4]:
int(pages[1].df[0].iloc[-2].split("\n")[-1])

1230

In [18]:
pages[0].df.values.tolist()

[['Vendor\nUPGRADE MANDI\nName:\nVendor\nTinNo:\nSamaj Sagar Cooperative Housing\nVendor\nSociety, Laxmi Nagar Kalmana\nAddress:',
  '13-8-\nPO No:\nPO Date:\nNAG002P23\n2025\nAsn No:\nAsn Date:\n13-8-\nNAG002A1Y\n2025\nInbound\nCreate\nINV40HYCQV\n13-8-\nNo:\nDate:\n2025\nGRN No:\nGrnCode256163\nGRN Date:\n13-8-\n41\n2025\nInvoice\nInvoice\n140825UMJ1\n13-8-\nNo:\nDate:\n2025\nChallan\nChallan\nNo:\nDate:']]

In [ ]:
"""

Date
Invoice No
Location
PO Amount
GRN
PR
Retailer

"""

In [8]:
df

,0,1
0,Vendor\nUPGRADE MANDI\nName:\nVendor\nTinNo:\n...,13-8-\nPO No:\nPO Date:\nNAG002P23\n2025\nAsn ...
1,CGST\nSGST/UGST\nIGST\nCess\nUnit\nTaxable\nSr...,NaN
2,1\nTomato Local\n7\n6\n46\n276\n0\n0\n0\n0\n0\...,NaN
3,2\nLady Finger\n5\n5\n14\n70\n0\n0\n0\n0\n0\n0...,NaN
4,Ivy Gourd\n3\n3\n3\n18\n54\n0\n0\n0\n0\n0\n0\n...,NaN
5,4\nLemon\n2\n2\n28\n56\n0\n0\n0\n0\n0\n0\n0\n0...,NaN
6,Cucumber\n5\n3\n3\n16\n48\n0\n0\n0\n0\n0\n0\n0...,NaN
7,6\nBeetroot\n2\n2\n32\n64\n0\n0\n0\n0\n0\n0\n0...,NaN
8,7\nCabbage\n3\n3\n22\n66\n0\n0\n0\n0\n0\n0\n0\...,NaN
9,Forest Bitter\n8\n2\n2\n21\n42\n0\n0\n0\n0\n0\...,NaN
10,9\nBrinjal Bharta\n2\n2\n31\n62\n0\n0\n0\n0\n0...,NaN
11,10\nCarrot Ooty\n2\n2\n37\n74\n0\n0\n0\n0\n0\n...,NaN
12,11\nBaby Potato\n2\n2\n9\n18\n0\n0\n0\n0\n0\n0...,NaN
13,12\nBrinjal Small\n3\n3\n13\n39\n0\n0\n0\n0\n0...,NaN
14,Capsicum\n13\n3\n3\n23\n69\n0\n0\n0\n0\n0\n0\n...,NaN
15,14\nCauliflower\n2\n2\n51\n102\n0\n0\n0\n0\n0\...,NaN
16,15\nBottle Gourd\n3\n3\n28\n84\n0\n0\n0\n0\n0\...,NaN
17,Tomato\n16\n2\n2\n53\n106\n0\n0\n0\n0\n0\n0\n0...,NaN
18,Total\n46\n45\n1230\n0\n0\n0\n0\n1230,NaN
19,Amount (INR):\nONE THOUSAND TWO HUNDRED AND TH...,NaN